.sub-headline NAVIGATION
#{link_to "Projects", admin_pages_projects_path} &sdot; #{link_to "Donations", admin_pages_donations_path} &sdot; #{link_to "Users", admin_pages_users_path} &sdot; #{link_to "Project Updates", admin_pages_updates_path}
%hr