<% unless @invite.errors.full_messages.empty? %>
  $(".error").html("<p><%= @invite.errors.full_messages.join() %></p>");
<% else %>
  $(".invites").prepend("<%=j render 'invites/invite', invite: @invite unless @invite.new_record? %>");
  $("input[type=text], input[type=email], input[type=tel], textarea").val("");
  $(".error").html("");
<% end %>