<% unless @invite.errors.full_messages.empty? %>
  $(".error").html("<p><%= @invite.errors.full_messages.join() %></p>");
<% else %>
  $(".invites").append("<%=j render 'invites/invite', invite: @invite unless @invite.new_record? %>");
  $("#new_invite input[type=text], #new_invite input[type=email], #new_invite input[type=tel]").val("");
  $(".error").html("");
<% end %>