%p Xin chào #{@ext_donation.donor.split.last},

%p 
  Vui lòng truy cập #{link_to "đường dẫn này", new_user_registration_path(:token => @ext_donation.token.value)} để sử dụng hệ thống

%p
  www.charity-map.org