<html><head><meta http-equiv="content-type" content="text/html; charset=utf-8"><link type="text/css" rel="stylesheet" href="chrome-extension://cpngackimfmofbokmjmljamhdncknpmg/style.css"><script type="text/javascript" charset="utf-8" src="chrome-extension://cpngackimfmofbokmjmljamhdncknpmg/js/page_context.js"></script></head><body dir="auto" screen_capture_injected="true">
<style>
  html, body {
    font-family: Helvetica Neue, Arial, sans-serif !important; 
  }
</style>


<table class="header wrapper" width="100%" style="border-collapse:collapse;border-spacing:0;min-width:600px;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;">
<tbody><tr>
  <td align="left" class="title" width="45%" style="vertical-a  lign:top;color:#adb3b9;font-family:HelveticaNeue,sans-serif;font-size:11px;l  ine-height:13px;padding-top:20px;padding-bottom:20px;padding-right:20px;padd  ing-left:20px;">Ủng hộ từ thiện<br>chưa bao giờ dễ dàng đến vậy.</td>
  <td align="center" class="logo" width="10%" style="vertical-  align:top;color:#adb3b9;font-family:HelveticaNeue,sans-serif;font-size:11px;  line-height:13px;padding-top:20px;padding-bottom:20px;padding-right:20px;pad  ding-left:20px;"><a href="http://www.charity-map.org" style="display:block;transition:all .25s;"><img src="http://www.charity-map.org/assets/logo-de1a738d2cf65a5034c11acfdeaee03c.png" height="40" style="border-width:0;display:block;"></a></td>
  <td align="right" class="webversion" width="45%" style="vert  ical-align:top;color:#adb3b9;font-family:HelveticaNeue,sans-serif;font-size:  11px;line-height:13px;padding-top:20px;padding-bottom:20px;padding-right:20p  x;padding-left:20px;"><a href="http://www.charity-map.org" style="color:#adb3b9;display:inline;font-weight:bold;text-decoration:none;line-height:13px;transition:all .25s;">www.charity-map.org</a></td>
</tr>
</tbody></table>
<table bgcolor="#f6f6f8" class="feature wrapper" width="100%" styl="e=&quot;border-collapse:collapse;border-spacing:0;min-width:600px;text-renderin=" g:optimizelegibility;-webkit-font-smoothing:antialiased;-webkit-text-size-ad="just:none;&quot;">
<tbody><tr>
  <td align="center" style="padding-top:0;padding-bottom:0;padding  -right:0;padding-left:0;vertical-align:top;">
  <div class="column-top" style="font-size:35px;line-heigh  t:35px;">&nbsp;</div><table style="border-collapse:collapse;border-spacing:0;">

    <tbody><tr>
      <td class="padding" style="padding-top:0;padding-bot      tom:0;padding-right:0;padding-left:0;vertical-align:top;width:90px;">&nbsp;</td>
      <td class="padded" align="center" style="padding-t      op:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;widt      h:420px;">
      <h1 style="margin-top:0;font-family:Montserrat,Aveni      r,sans-serif;font-weight:400;letter-spacing:-1px;text-align:center;font-size      :30px;line-height:36px;margin-bottom:26px;text-shadow:0 2px #fff;">

        <%= @invite.project.title %>

      </h1>
    </td><td class="padding" style="padding-top:0;paddin    g-bottom:0;padding-right:0;padding-left:0;vertical-align:top;width:90px;"></td></tr>
</tbody></table>


<table style="border-collapse:collapse;border-spacing:0;">

  <tbody><tr>
    <td class="padding" style="padding-top:0;padding-bot    tom:0;padding-right:0;padding-left:0;vertical-align:top;width:90px;">
    </td><td class="padded" align="center" style="padding-t    op:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;widt    h:420px;">
    <p style="margin-top:0;color:#313740;font-family:Hel    veticaNeue,sans-serif;font-size:16px;font-weight:300;line-height:24px;margin    -bottom:28px;">

      <%= @invite.project.invite_email_content %>

      <br><br>

      <%= markdown @invite.project.description %>


    </p>
    <div class="btn">
                      <!--[if mso]>
                        <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://www.campaignmonitor.com/blog/post/4111/10-holiday-emails-from-our-customers-2013?utm_medium=email&utm_campaign=December%20news&utm_content=December%20news+CID_0597f6976d1f55fec2cad0abff542d&utm_source=Email%20marketing%20software&utm_term=GET%20INSPIRED"  arcsize="8%" stroke="f" fill="t" style="height:42px;v-text-anchor:middle;width:180px;" >
                          <v:fill type="tile" src="http://i.imgur.com/vDLsIDB.gif" color="#119dda" />
                          <v:shadow on="t" color="#0174a6" offset="0,2px"/>
                          <w:anchorlock/>
                          <center style="color:#ffffff;font-family:sans-serif;font-size:13px;font-weight:bold;" >SEE THE TOP 10</center>
                        </v:roundrect>
                        <![endif]-->
                        <%= link_to "Tôi muốn ủng hộ", project_url(@invite.project), style: "display:block;transition:all .25s;border-radius:3px;font-weight:700;text-align:center;text-decoration:none;background-color:#119dda;box-shadow:0 2px 0 #0174a6;color:#fff;font-size:14px;line-height:42px;text-shadow:0 1px 0 rgba(0,0,0,.1);width:180px;" %>

                        <div class="btn-bottom" style="font-size:34px;line                        -height:34px;">&nbsp;</div>
                      </div>
                    </td>
                    <td class="padding" style="padding-top:0;padding-bot                    tom:0;padding-right:0;padding-left:0;vertical-align:top;width:90px;"></td></tr>
                </tbody></table>
                <div class="column-bottom" style="font-size:32px;line-he                ight:32px;">&nbsp;</div>
              </td>
            </tr>
          </tbody></table>
        
      
    



    <table background="http://i9.createsend4.com/ei/y/AD/CF2/456/202940/im    ages/sleepy-rico-ray.gif" bgcolor="#1a232b" class="footer wrapper" width="100%" style="border-collapse:collapse;border-spacing:0;min-width:600px    ;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-webki    t-text-size-adjust:none;box-shadow:inset 0 2px 0 rgba(0,0,0,.1);">
    <tbody><tr>
      <td align="center" style="padding-top:0;padding-bottom:0;padding      -right:0;padding-left:0;vertical-align:top;">
      <table class="two-col" style="border-collapse:collapse;border-      spacing:0;">
      <tbody><tr>
        <td style="padding-top:0;padding-bottom:0;padding-right:0;pa        dding-left:0;vertical-align:top;">
        <table class="columns" style="border-collapse:collapse;b        order-spacing:0;width:600px;">
        <tbody><tr>
          <td style="padding-top:0;padding-bottom:0;padding-righ          t:0;padding-left:0;vertical-align:top;">
          <table align="left" style="border-collapse:collaps          e;border-spacing:0;">
          <tbody><tr>
            <td class="left column" style="padding-top:0;p            adding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;width:300p            x;">
            <div class="column-top" style="font-size:64p            x;line-height:64px;">&nbsp;</div>
            
                      <!--[if mso]>
                    </td>
                    <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;" >
<![endif]-->
<table align="left" style="border-collapse:collapse;border-spacing:0;">
<tbody><tr>
  </tr></tbody></table><p style="margin-top:0;color:#8e959c;fon    t-family:HelveticaNeue,sans-serif;font-size:12px;line-height:20px;margin-bot    tom:20px;text-shadow:0 0 5px #1A232B;">
    
    Bản Đồ Từ Thiện được xây dựng nhằm mục đích hỗ trợ các dự án xã hội tại Việt Nam gây quỹ từ cộng đồng hiệu quả và minh bạch hơn, nhằm giải quyết các vấn đề xã hội trên. Mỗi ủng hộ được gửi về dự án qua hệ thống của BĐTT, dù lớn hay nhỏ, đều được lưu trữ thông tin cùng các báo cáo liên quan một cách đầy đủ và trực quan nhất.

  </p><p style="margin-top:0;color:#8e959c;font-weight: bold; font-family:HelveticaNeue,sans-serif;font-size:12px;line-height:20px;margin-bot    tom:20px;text-shadow:0 0 5px #1A232B;"><a href="http://www.charity-map.org" style="color:#8e959c;fo    nt-weight:bold;text-decoration:none;transition:all .25s;display:inline;">www.charity-map.org</a> &nbsp;|&nbsp; <a href="mailto:team@charity-map.org" style="color:#8e959c;font-weight:bold;text-decoration:none;transition:all .25s;display:inline;">team@charity-map.org</a> &nbsp;|&nbsp; Hồ Chí Minh, Việt Nam</p><table style="border-collapse:collapse;border-  spacing:0;">
  <tbody><tr>
    
    
  
  <td class="padding" style="padding-top:0  ;padding-bottom:0;padding-right:0;padding-left:0;vertical-align:top;width:10  px;">&nbsp;</td>
</tr>
</tbody></table>

</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
<img src="https://createsend4.com/t/y-o-thidyhl-ydhjykdudk/o.gif" width="=" "1"="" height="1" border="0" alt="" style="height:1px !important;width:1px !important;border-width:0 !important;margin-top:0 !important;margin-bottom:0 !important;margin-right:0 !important;margin-left:0 !important;padding-top:0 !important;padding-bottom:0 !important;padding-right:0 !important;padding-left:0 !important;display:block;">



</body></html>