@import url(//fonts.googleapis.com/css?family=Noticia+Text:400&subset=vietnamese);
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&subset=vietnamese);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600&subset=vietnamese);


body {
	font-family: 'Source Sans Pro', sans-serif;
}


.header-cover {
	background: image-url('hp/header-cover.jpeg') no-repeat;
	background-size: cover;
	padding: 58px 0 210px;
	background-position: center;
}

.header-content {
	width: 940px;
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
	line-height: 28px;
	font-weight: 300;
	color: rgba(255,255,255,0.6);
}

.header-content h1 {
	font-family: 'Noticia Text', serif;
	color: #fff;
	text-shadow: 0 2px 1px rgba(0,0,0,0.15);
	margin-bottom: 20px;
}

h2 {
	font-family: 'Noticia Text', serif;
	color: #34495e;
	margin-bottom: 20px;
}

.header-content span {
	font-size: 16px;
}

header {
	border-bottom: 1px solid rgba(255,255,255,0.1);
	padding-bottom: 28px;
	overflow: hidden;
	margin-bottom: 122px;
}

.header-content ul {
	list-style: none;
}

.header-content li {
	display: inline-block;
	text-transform: uppercase;
}

.header-content li a {
	color: rgba(255,255,255,0.8);
	font-size: 14px;
	padding: 10px 24px;
	letter-spacing: 1px;
	font-family: 'Open Sans', sans-serif;
}

.header-content li a:hover {
	text-decoration: none;
	color: rgba(255,255,255,1);
}

.header-content li a.dki {
	border: solid 1px rgba(255,255,255,0.3);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.header-content li a.dki:hover {
	background-color: rgba(255,255,255,0.3);
}

a.facebook {
	display: block;
	margin: 40px auto 10px auto;
	width: 245px;
	background: #3b5998 image-url('hp/fb.png') 10px 11px no-repeat;
	color: #fff;
	padding: 8px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 18px;
	text-align: right;
}

a.facebook:hover {
	text-decoration: none;
	background:#5977b8 image-url('hp/fb.png') 10px 11px no-repeat;
}

a.dashboard {
	display: block;
	margin: 40px auto 10px auto;
	width: 200px;
	// background: lighten(#3F4830, 10%);
	border: 1px solid darken(#ffffff, 20%);
	color: #fff;
	padding: 8px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 18px;
	text-align: center;
}

a.dashboard:hover {
	text-decoration: none;
	background: lighten(#3F4830, 30%);
	border: 1px solid lighten(#3F4830, 30%);
}

a.mail {
	color: #fff;
}

.logo-nav {
	float: left;
	margin-top: 8px;
	background: image-url('charitymap-logo-plain.png') no-repeat;
	width: 242px;
	height: 40px;
}

.home-nav {
	float: right;
	margin-top: 10px;
}

.partners-content {
	padding-top: 60px;
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	font-weight: 300;
}

.partners-list {
	margin-top: 60px;
}

.partners-list ul {
	list-style: none;
	padding-bottom: 120px;
}

.partners-list ul li {
	display: inline-block;
	margin: 0 50px;
	position: relative;
}

.partners-list ul li a {
	display:block;
  border:1px solid #d9d9d9;
  padding: 5px;
  border-radius:50%;
  position:relative;
}



.partners-list li .partner-name {
	display: none;
}
.partners-list li:hover .partner-name {
	display: block;
	cursor: pointer;
	position: absolute;
	background: rgba(52, 152, 219,0.95);
	width: 220px;
	color: #fff;
	top:45px;
	left: -40px;
	padding: 18px;
}

.partners-list ul li img {
	width: 140px;
	height: 140px;
}

.projects {
	margin-top: -10px;
}

.project-content {
	background: #fdfdfd;
	border-top: solid 1px rgba(0, 0, 0,0.2);
	padding-top: 30px;
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	font-weight: 300;
}

.project-details {
	margin: 60px auto;
	width: 800px;
	text-align: left;
}

.project-details span.quote {
	font-family:"Noticia Text",serif;
	font-size:1 em;
	font-style:italic;
	font-weight:400;
	text-align:center;
	line-height:1.8em;
	color:#333333
}

.project-details .group-ava {
		display:inline-block;
		width:140px;
		height:140px;
		background:white;
		padding:5px;
		border:3px solid #f6f6f6
}

.project-details h1 {
	color:#333333;
	font-size:3em
}

.project-details ul {
	list-style: none;
}

.project-details ul li {
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	font-family: 'Noticia Text', serif;
}


.project-details i {
	padding-right:20px
}

.project-details strong {
	margin-left: 60px;
	margin-top: 25px;
	display: block;
}

.project-goal {
	text-align: left;
	margin-top: 40px;
}

.project-goal .mota-ngan {
	font-family: 'Noticia Text', serif;
	font-size: 18px;
	line-height: 36px;
}

.donation-funded-wrap {
	display:inline;
	float:left;
	margin:5px 0px 5px 60px;
	width:600px;
	border-radius:6px;
	left:0px;
	height:8px;
	background:#d0d5cb;
	padding:0;
	overflow:hidden
}
.donation-funded {
	background:#76cc1e;
	border-radius:6px;
	height:8px
}

.project-goal .goal {
	padding: 40px;
}

.project-goal .goal strong {
	font-size: 30px;
}

.project-goal .hint {
color: #858585;
font-weight: normal;
}

.partners-content {
	padding-top: 60px;
}

.partners-list {
	margin-top: 60px;
}

.partners-list ul {
	list-style: none;
	padding-bottom: 120px;
}

.partners-list ul li {
	display: inline-block;
	margin: 0 50px;
	position: relative;
}

.partners-list li .partner-name {
	position: absolute;
	background: rgba(52, 152, 219,0.6);
	width: 220px;
	color: #fff;
	top:30px;
	left: -40px;
	padding: 18px;
}

.partners-list ul li img {
	width: 140px;
	height: 140px;
}

.projects {
	margin-top: -10px;
}

.project-content {
	background: #fdfdfd;
	border-top: solid 1px rgba(0, 0, 0,0.2);
	padding: 30px 0 30px 0;
	margin-bottom: 60px;
}

.project-details {
	margin: 60px auto;
	width: 800px;
	text-align: left;
}

.project-details span.quote {
	font-family:"Noticia Text",serif;
	font-size:1 em;
	font-style:italic;
	font-weight:400;
	text-align:center;
	line-height:1.8em;
	color:#333333
}

.project-details .group-ava {
		display:inline-block;
		width:140px;
		height:140px;
		background:white;
		padding:5px;
		border:3px solid #f6f6f6
}

.project-details h1 {
	color:#333333;
	font-size:3em
}

.project-details ul {
	list-style: none;
}

.project-details ul li {
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	font-family: 'Noticia Text', serif;
}


.project-details i {
	padding-right:20px
}

.project-details strong {
	margin-left: 60px;
	margin-top: 25px;
	display: block;
}

.project-goal {
	text-align: left;
	margin-top: 40px;
}

.project-goal .mota-ngan {
	font-family: 'Noticia Text', serif;
	font-size: 18px;
	line-height: 36px;
}

.donation-funded-wrap {
	display:inline;
	float:left;
	margin:5px 0px 5px 60px;
	width:600px;
	border-radius:6px;
	left:0px;
	height:8px;
	background:#d0d5cb;
	padding:0;
	overflow:hidden
}
.donation-funded {
	background:#76cc1e;
	border-radius:6px;
	height:8px
}

.project-goal .goal {
	padding: 40px;
}

.project-goal .goal strong {
	font-size: 30px;
}

.project-goal .hint {
color: #858585;
font-weight: normal;
}

.section {
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	font-weight: 300;
}

.stats-number {
	margin-bottom: -10px;
}

.stats-number-content {
	width: 940px;
	margin: 0 auto;
	font-size: 18px;
	line-height: 24px;
	font-weight: 300;
}

h5 {
    font-weight:normal;
    line-height:0;
    height:0;
    border-bottom:1px solid #ddd;   
    vertical-align:middle;
    text-align: left !important;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    color: #ccc;
    font-weight: 300;

}

h5 span {
	background-color: #fff;
      padding: 8px;
}

.stats-number-content ul {
	padding: 60px 0;
	list-style: none;
	text-align: center;
}

.stats-number-content ul li {
	display: inline-block;
	margin: 0 40px;
}

.stats-number-content ul li .numbers {
	font-weight: 600;
	font-size: 36px;
	margin-bottom: 14px;
	color: #001F3F;
}

.call-action {
	border-top: solid 1px rgba(0, 0, 0,0.2);
	padding: 60px 40px;
	background: #fafafa url('http://subtlepatterns.com/patterns/swirl.png') repeat;
}

a.action-button {
	background: #89c657 ;
	color: #fff;
	padding: 14px 36px 13px;
	border-radius: 3px;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	margin: 40px 4px;
}

a.action-button:hover {
	background: #a9d27f;
	text-decoration: none;
}

.cm-footer {
	background: #fafafa;
	margin-top: -10px;
	padding: 60px 30px;
	border-top: solid 1px rgba(51,51,51,0.1);
	line-height: 2;
	font-size: 14px;
}

.project-slider { position: relative; overflow: auto; }
.project-slider li { list-style: none; }
.project-slider ul li { float: left; }

.unslider-arrow { padding: 5px 10px 5px 10px; background-color: rgba(52, 152, 219,0.95); color: #fff; font-weight: bold;}
.unslider-arrow:hover { cursor: pointer; text-decoration: none; color: #fff;}