= simple_form_for @message, :url => create_message_users_path, :method => :post do |f|
  .row-fluid
    = f.input :receiver, :as => :hidden, :input_html => {value: @id}
    = f.input :body, :label => false, :input_html => {class: "span12", :rows => 10}
    = f.submit t('.gửi_tin_nhắn'), class: "submit"
