.row-fluid
  .devider
    .item Dự Án Của Bạn
  .row-fluid
    - if current_user.projects.empty?
      %p Hiện bạn chưa có dự án nào. #{link_to "Tạo dự án đầu tiên!", new_project_path}
    - else
      - current_user.projects.each do |project|
        = render "projects/bar_display", :project => project, :donations_list => donation_data_in_7_days(project)