.row-fluid
  .devider
    .item Dự Án Của Bạn
    .note Danh Sách Hoàn Chỉnh
    / TODO: add link
  .row-fluid
    - if current_user.projects.empty?
      %p Hiện bạn chưa có dự án nào. #{link_to "Tạo dự án đầu tiên!", new_project_path}
    - else
      - current_user.projects.each do |project|
        = render "projects/bar_display", :project => project, :donations_list => donation_data_in_7_days(project)
        - project.donations.each do |donation|
          = render "layouts/donation_display", donation: donation