.body-container--plain-row
	.body-container--content
		.row-fluid
			.headline
				Đóng Góp Của Bạn
			- if current_user.donations.empty?
				%p Hiện chưa có thống kê về những khoản tài trợ bạn đã đóng góp.
			- else 
				=	current_user.donations.each do |donation|
					=	donation.attributes.each do |key, value|
						%p = key.to_s
						%p = value.to_s

		.row-fluid
			.headline
				Dự Án Của Bạn
			- if current_user.projects.empty?
				%p Hiện bạn chưa có dự án nào. #{link_to "Tạo dự án đầu tiên!", new_project_path}
			- else
				- current_user.projects.each do |project|
					= render "projects/bar_display", :project => project