.row-fluid
  .devider
    .item Đóng Góp Của Bạn
.row-fluid
  - if current_user.donations.empty?
    %p Hiện chưa có thống kê về những khoản tài trợ bạn đã đóng góp.
  - else
    - cache("user_donations", :expires_in => 12.hours) do
      = render "layouts/donation_display", donations: current_user.donations