.row-fluid
  .devider
    .item= t('.Đóng_góp_của_bạn')
.row-fluid
  - if current_user.donations.empty?
    %p= t('.hiện_chưa_có_thống_kê_về_những')
  - else
    - current_user.donations.each do |donation|
      = render "layouts/donation_display", donation: donation
