.body-container--plain-row
  #header-box.body-container--content.dark-container
    .logo 
    / size: 80x80
    .group-info
      .title Hoang Minh Tu
      .slogan Here comes the giants!
    .follow-button Theo

  .body-container--content.light-container
    .clearfix
    #about-us.row-fluid
      Yuck Lam sao de thoat ra khoi day day?
  
  .body-container--content.light-container
    #sub-header-box Du An Cua Chung Toi

  .body-container--content.light-container
    #our-projects.row-fluid{style: "padding-top: 20px;"}
      - 5.times do
        .project-bar
          .top-image
            .info
              .title
                Hoang minh Tu
              .location
                Dong Nai
            = image_tag "portfolio/1009408_10201157689293186_167515360_o.jpg", size: "450x160"
            
          .bottom-stats
            .stat-box.donations
              .text Quy
              .number 200,000,000 VND
            .stat-box.donors
              .text MTQ
              .number 200
            .stat-box.reviews
              .text Nhan xet
              .number 2

  .body-container--content.light-container
    #sub-header-box Nhung Con So

  .body-container--content.light-container
    .row-fluid{style: "padding-top: 20px;"}
      .figures
        .figure 1
      Content Content