.row-fluid
  .devider
    .item Tin Nhắn
    .note Người gửi: #{link_to full_name_by_id(@message.sent_messageable_id), users_profile_path(:id => @message.sent_messageable_id)} &sdot; Ngày gửi: #{human_time(@message.updated_at)}
.row-fluid
  %p= @message.body.html_safe
%hr/
%p= link_to "Trả lời", new_reply_message_users_path(current_user, :message_id => @message.id)