- if (current_user) && (!current_user.verified?) && (!current_user.verifications.empty?)
  = render "layouts/verify_code_via_phone"

- if (!current_user.verified_by_phone) && (current_user.verifications.empty?)
  .devider
    .item Xác Nhận Bằng Điện Thoại
  %p Để tạo hoặc giới thiệu một dự án, bạn cần phải xác nhận tài khoản của mình bằng điện thoại. Vui lòng điền vào khung theo mẫu: 0908123456, không thêm mã quốc gia vào.
  .row-fluid
    = form_tag(users_verification_code_via_phone_path, :method => :post) do
      = text_field_tag :phone_number, current_user.phone || "0908-xxx-xxx", class: "span12"
      = submit_tag "Gửi Mã", :class => "submit"