.body-container--plain-row
  .body-container--content
    .row-fluid
      .span6{style: "padding-top: 40px;"}
        .homepage--headline Ủng hộ từ thiện chưa bao giờ <br/>dễ dàng đến thế!
        %p 
        .bttn.bttn-green Đọc Thêm
      .span6
        = image_tag "ph_homepage-banner.jpg"

.body-container--dark-row
  .body-container--content
    .row-fluid
      .pull-left.homepage--headline Các Dự Án Đang Gây Quỹ
      .pull-right
        .bttn.bttn-green Xem tất cả  
    .row-fluid
      - if Project.funding.count > 0
        - Project.funding.each do |project|
          = render "projects/box_display", :project => project
      - else
        Hiện chưa có dự án nào đang gây quỹ.

.body-container--plain-row
  .body-container--content
    .row-fluid
      .pull-left.homepage--headline Các Dự Án Đã Hoàn Thành
      .pull-right
        .bttn.bttn-green Xem tất cả  
    .row-fluid
      - if Project.finished.count > 0
        - Project.finished.each do |project|
          = render "projects/box_display", :project => project
      - else 
        Hiện chưa có dự án nào được hoàn thành.