%p A user has just submitted his/her project for review.

%p
  %b DETAILS:
  %br/ 
  <b>Title</b>: #{@project.title}
  %br/
  <b>Description:</b>
  %br/ 
  #{markdown @project.description.html_safe}

%p= link_to "[Link to Project Page]", project_url(@project)