#project-edit
  .header
    %h1 Tạo Dự Án
  = render 'form'

:javascript
  $(document).ready(function() {
    $("#new_project_reward").bind("ajax:success", function(data, status, xhr) {
      var str;
      str = "";
      $.each(status, function(key, value) {
        return str = str + "<b>" + key + ":</b>" + " " + value + " | ";
      });
      return $(".project_rewards").append(str + "</br>");
    }).bind("ajax:failure", function(xhr, status, error) {
      return alert("Action failed.");
    });

    
  });
