%p 
  = link_to "Order: Phap Ly", filter_projects_path(by: "legal"), remote: true

%section.row.col-md-8.col-md-offset-2#organizations
  / - cache("org_lists", :expires_in => 1.day) do
  - @orgs.each do |org|
    = render "projects/org", org: org
                    
#donatingOrg.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title Thêm Ủng Hộ Ngoài Hệ Thống
      .modal-body
        .note Dự án:
        = render "projects/donate_to_org"

:javascript
  $('#project_search').typeahead({
    name: "project",
    prefetch: "/projects/autocomplete"
  });
  $('.donateButton').on('click', function() {
    var email = $(this).attr('org-email');
    $('#email').val(email);
  })