.devider
  .item Sửa Đề Mục Đóng Góp
  .note Dự án: #{link_to @project.title, project_path(@project)}

.row-fluid
  = render 'form'

= link_to "Xóa", project_project_reward_path(@project, @project_reward), method: :delete