@import "main"

input.custom-fields
  font-family: 'Helvetica Neue', sans-serif
  font-weight: bold
  font-size: 20px !important
  height: 40px !important
  float: left
  line-height: 30px !important
  padding: 0 10px 0 10px !important
  border-radius: 5px !important
  width: 100%
  border: 2px solid $grey !important

textarea.custom-fields
  font-family: 'Helvetica Neue', sans-serif
  font-weight: bold
  float: left
  padding: 0 10px 0 10px !important
  border-radius: 5px !important
  width: 100%
  border: 2px solid $grey !important

input.submit
  clear: both
  background-color: $blue
  border: none
  margin: 10px auto 10px 0
  padding: 0px 20px
  height: 40px
  width: auto
  font-size: 15px
  line-height: 40px
  font-weight: bold
  text-transform: uppercase
  color: $white
  border-radius: 3px
  border-bottom: 2px solid darken($blue, 10%)
  &:hover
    background-color: lighten($blue, 5%)
    cursor: pointer

.homepage--email-box
  font-family: 'Helvetica Neue', sans-serif
  font-weight: bold
  font-size: 20px !important
  height: 40px !important
  float: left
  line-height: 30px !important
  padding: 0 10px 0 10px !important
  border-radius: 5px !important
  width: 100%
  border: 2px solid $grey !important

.devise--container
  margin: 20px auto
  width: 350px
  height: auto
  border-radius: 3px
  border: 1px solid $grey
  padding: 0
  form
    margin: 0 !important
  span.error
    font-size: 13px
    color: $darker_grey
    padding-bottom: 10px
    margin: 5px
  .heading-bar
    margin: 0
    padding: 20px 15px
    width: 320px
    height: 40px
    border-bottom: 1px solid $grey
    h1
      font-size: 20px
      line-height: 20px
      padding: 0 !important
      margin: 0 !important
      text-transform: uppercase
      color: $black
    p
      font-size: 13px
      color: $darker_grey
      padding: 0
      margin: 5px
  .body-bar
    padding: 15px
    width: 320px
    .facebook-login
      margin: 0
      padding: 10px
      width: 300px
      background-color: darken($blue, 10%)
      height: 40px
      font-size: 15px
      line-height: 40px
      font-weight: bold
      text-transform: uppercase
      color: $white
      border-radius: 3px
      &:hover
        background-color: lighten($blue, 5%)
        cursor: pointer
    p
      font-size: 13px
      color: $darker_grey
      padding: 0
      margin: 5px
    .form-inputs 
      margin-bottom: 15px
      input
        width: 300px
        padding: 10px
        font-family: 'Helvetica Neue', sans-serif
        font-weight: bold
        font-size: 20px !important
        color: $black
        height: 25px !important
        float: left
        line-height: 20px !important
        border-radius: 3px !important
        border: 1px solid $light_grey !important
    .submit
      background-color: $red
      border: none
      margin: 0
      // padding: 10px 20px
      width: 320px
      font-size: 15px
      line-height: 40px
      font-weight: bold
      text-transform: uppercase
      color: $white
      border-radius: 3px
      &:hover
        background-color: lighten($red, 5%)
        cursor: pointer