@import 'main'

.homepage--project-container
  float: left
  width: 260px
  height: 390px
  max-height: 390px
  overflow: hidden
  padding: 10px
  border: 3px solid $light_grey
  background-color: $white
  margin: auto 30px 30px auto
  position: relative
  .project-title
    font-size: 18px
    color: $blue
    font-weight: bold
  .project-info
    font-size: 12px
    line-height: 18px
    color: $grey
  .project-description
    line-height: 20px
    font-size: 14px
    height: 150px

  .project-footer-bar
    position: absolute
    height: 55px
    bottom: 0
  .project-progressbar
    margin-top: 5px
    width: 260px
    border-radius: 5px
    height: 10px
    float: left 
    background-color: $light_grey
  .project-progressbar--green
    z-index: 5
    font-size: 2px
    height: 10px
    width: 100px
    display: block
    float: left
    border-radius: 5px
    background-color: $green
  .project-progressbar--red
    display: block
    float: left
    border-radius: 5px
    background-color: $red

  .project-metric
    font-weight: bold
    font-size: 14px
    color: $black
  .project-metric--description
    font-size: 9px
    text-transform: uppercase
    color: $grey
    font-weight: bold

.top-title
  font-size: 24px
  font-weight: bold
.top-creator-and-location
  font-size: 12px
  line-height: 18px
  color: $darker_grey
.sub-headline
  font-size: 12px
  font-weight: bold
  color: $darker_grey
  line-height: 24px
  text-transform: uppercase

.project-show
  .photo-box
    float: left
    width: 658px
    padding: 0
    height: 210px
    overflow: hidden
    border: 1px solid $grey
    border-bottom-width: 0
  .bordered-box
    float: left
    width: 628px
    padding: 15px
    border: 1px solid $grey
    min-height: 600px
  .side-bar
    min-height: 500px
    float: right
    border: 1px solid $grey
    border-left-width: 0
    border-right-width: 0
    border-bottom-width: 0
    #donation-box
      background-color: $white
    .container
      width: 269px
      padding: 15px
      border-bottom: 1px solid $grey
      border-right: 1px solid $grey
  p
    font-size: 13px
    margin: 0
    padding: 0
    padding-bottom: 10px
  h4
    font-size: 15px
    line-height: 17px
    margin: 0
    padding: 7px 0 3px 0
    font-weight: bold
    text-transform: uppercase
  hr
    border-top: 1px solid $light_grey !important
    border: none
    margin: 15px 0px
  .figure
    padding-bottom: 15px
    .number
      font-size: 20px
      font-weight: bold
    .description
      font-size: 12px
      color: $darker_grey
      text-transform: uppercase
      // font-weight: bold
  .donate-bttn
    font-weight: bold
    font-size: 18px
    height: 40px
    line-height: 35px
    padding: 0 10px 0 10px
    border-radius: 3px
    text-align: center
    background-color: $blue
    color: $white
    border: 2px solid $blue
    text-transform: uppercase
    &:hover
      cursor: pointer
      background-color: $red
      border: 2px solid $red
  .recommendation--user-info
    margin-top: 10px
    .avatar
      margin: 0px 10px 10px 0
    .user-info
      .full_name
        @extend h4
        padding: 0 !important
        margin: 0 !important
      .date

.bar-display
  width: 960px
  height: 140px
  margin: 0 auto
  padding: 0
  position: relative
  background-color: $white
  // border: 1px solid $grey
  border-radius: 5px
  z-index: 5
  overflow: hidden
  .hover-black-box
    background-color: $light_grey
    border: 1px solid $light_grey
    width: 960px
    height: 140px
    position: absolute
    top: 0
    left: 0
    border-radius: 5px
    display: none
    cursor: pointer
  .top-bar
    height: 35px
    width: 960px
    .project-title
      width: 785px
      height: 100%
      background-color: $blue
      color: $white
      line-height: 35px
      font-weight: bold
      padding-left: 15px
    .project-location
      width: 145px
      height: 100%
      background-color: darken($blue, 10%)
      color: darken($white, 2%)
      line-height: 35px
      padding-right: 15px
      font-size: 12px
      font-weight: bold
      text-transform: uppercase
  .middle-bar
    height: 68px
    width: 958px
    border: 1px solid $light_grey
    border-top-width: 0
    .square-box
      width: 149px
      height: 68px
      border-right: 1px solid $light_grey
    .rectangle-box
      width: 354px
      height: 68px
    .square-box .upper-part, .rectangle-box .upper-part
      height: 34px
      width: 100%
      line-height: 50px
      font-family: Georgia, serif
      font-style: italic
      font-size: 17px
    .square-box .lower-part, .rectangle-box .lower-part
      line-height: 20px
      height: 34px
      width: 100%
      font-size: 11px
      text-transform: uppercase
      color: $darker_grey
    
  .bottom-bar
    height: 30px
    width: 943px
    border: 1px solid $light_grey
    border-top-width: 0
    line-height: 30px
    border-radius: 5px
    border-top-left-radius: 0
    border-top-right-radius: 0
    color: $darker_grey
    font-size: 14px
    font-style: italic
    padding-right: 15px
    font-family: Georgia, serif