@import 'main'

.homepage--project-container
  width: 260px
  height: 390px
  max-height: 390px
  overflow: hidden
  padding: 10px
  border: 3px solid $light_grey
  .project-title
    font-size: 18px
    color: $blue
    font-weight: bold
  .project-info
    font-size: 12px
    line-height: 18px
    color: $grey
  .project-description
    line-height: 20px
    font-size: 14px
    height: 120px
  .project-progressbar
    margin-top: 5px
    width: 260px
    border-radius: 5px
    height: 10px
    float: left 
    background-color: $light_grey
  .project-progressbar--green
    z-index: 5
    font-size: 2px
    height: 10px
    width: 100px
    display: block
    float: left
    border-radius: 5px
    background-color: $green
  .project-progressbar--red
    display: block
    float: left
    border-radius: 5px
    background-color: $red

  .project-metric
    font-weight: bold
    font-size: 14px
    color: $black
  .project-metric--description
    font-size: 9px
    text-transform: uppercase
    color: $grey
    font-weight: bold