.body-container--plain-row
  .body-container--content

    %table
      %tr
        %th Title
        - if current_user && current_user.staff
          %th
          %th
          %th

      - @categories.each do |category|
        %tr
          %td= link_to category.title, category