#footer
  .footer-container
    .row-fluid
      .span6
        %p
          %b &copy; BẢN ĐỒ TỪ THIỆN 2013
        %p Bản Đồ Từ Thiện (Charity Map) là trang web gây quỹ cộng đồng dành cho các dự án xã hội tại Việt Nam. Chúng tôi đặt tính minh bạch và sự tín nhiệm làm tiêu chí hoạt động.
      .span6
        .row-fluid
          .span4
            %p
              %b Về Chúng Tôi
            %p 
              Đội Ngũ
              %br/
              Báo Chí
              %br/
              Những Con Số
          .span4
            %p 
              %b Tổ Chức Xã Hội
            %p 
              Hướng Dẫn Sử Dụng
              %br/
              Chiến Dịch Gây Quỹ
              %br/
              Câu Hỏi
          .span4
            %p 
              %b Mạnh Thường Quân
            %p
              Phương Thức Ủng Hộ
              %br/
              Quy Định Bảo Mật
              %br/ 
              Liên Hệ