%p Bôi đậm: **Tiêu đề** &sdot; <b>Tiêu đề</b>
%p In nghiêng: *Ghi chú* &sdot; <i>Ghi chú</i>
%p Tiêu đề: ### Thông báo &sdot; <font size="2em">Thông báo</font>
%p Chèn ảnh: ![Ghi chú ảnh](link_ảnh)
%p Chèn link: [Báo chí](http://google.com) &sdot; <a href="http://google.com">Báo chí</a>